<footer>

    <div class="top-footer">
        <ul>
            <p>Institucional</p>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Historia</a></li>
            <li><a href="#">Relaciones institucionales</a></li>
        </ul>

        <ul>
            <p>Ayuda</p>
            <li><a href="#">Ayuda con tu compra</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Descargar certificados de calidad</a></li>
        </ul>

        <ul>
            <p>Redes sociales</p>
            <li><a href="https://trello.com/b/56PXcE1L/akme-safety" target="_blank"><i class="fa-brands fa-trello"></i>Trello</a></li>
            <li><a href="https://github.com/brugrieco/Grupo_4_AkmeSafety---sprint-2.git" target="_blank"><i class="fa-brands fa-github"></i>Github</a></li>
            <li><a href="https://akmesafetysprint2.herokuapp.com" target="_blank"><i class="fa-brands fa-kickstarter"></i>Heroku</a></li>
        </ul>
    </div>

    <div class="copyright">
        <p>© 2022 AKME SAFETY PRODUCTS S.A. - Todos los derechos reservados</p>
    </div>

</footer>