<header>
    <div class = "top-header">
        <figure class="logo">
            <a href="/"><img src="/images/logo-akme-safety.png" alt="logo akme"></a>
        </figure>

        <form action="#" method="GET">
            <input type="text" class ="input" placeholder="Buscar productos, marcas y más">
            <button class="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul>
            <li><a href="/login"><i class="fa-solid fa-user">Mi cuenta</i></a></li>
            <li><a href="/carritoCompras"><i class="fa-solid fa-cart-shopping">Mi carrito</i></a></li>
        </ul>

    </div>

    <nav>

        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="/productDetail">PRODUCTOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    
    </nav>

</header>