<!DOCTYPE html>
<html lang="en">
    
<!-- Head -->
<%- include('../partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %> 
    
    <main class="main-login">
        <h3 class="login-title">INICIAR SESIÓN</h3>
    
        <form class="login-form" action="/login" method="GET">
    
            <div class="form-div">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
    
            <div class="form-div">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" required>
            </div>
    
            <div class="form-buttons">
                <button type="submit" class="submit-button">INGRESAR</button>
            </div>
    
        </form>
    
        <h2>Recuperar contraseña</h2>
        <h2>No posee cuenta? <a href="/register"> REGISTRARSE</a></h2>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>     
    
</body>
</html>